#main {
    overflow: hidden;
}
#page-header {
    z-index: 2;
}
#where-we-play .overlay {
    background-color: #4AABE0;
    opacity: .9;
}
#options-content img {
  position: absolute;
  pointer-events: none;
}
.option-box {
    box-shadow: 0px 0px 21.2313px rgba(0, 0, 0, 0.15);
    border-radius: 21.2313px;
    padding: 80px 70px 60px;
    position: relative;
    overflow: hidden;
}
#options-content {
	overflow: visible;
}
.option-box-holder {
    height: 100%;
}
.option-box-inner {
	position: relative;
	height: 100%;
}
.option-box .btn {
	margin-top: 40px;
	margin-bottom: 0;
}
#options-cols .col-lg-4:nth-child(2) .option-box-holder {
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    position: relative;
    top: -30px;
    left: -30px;
    z-index: 1;
}
.option-box-inner-top h3 {
    font-weight: 800;
    font-size: 46px;
    line-height: 54px;
}
.option-box .overlay {
    background-color: #2F5785;
}
.option-box .overlay {
	opacity: .9;
}
.option-box .cover-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}


/* indoor */

.page-template-indoor .col-lg-4:nth-child(2) .option-box .overlay {
    background-color: #a61421;
}
.page-template-indoor #options-content img {
    max-width: 731px;
    top: -230px;
    right: -90px;
}

/* beach */

.page-template-beach .col-lg-4:nth-child(2) .option-box .overlay {
    background-color: #4AABE0;
}
.page-template-beach .option-box h3 {
	color: #4AABE0;
}
.page-template-beach .col-lg-4:nth-child(2) .option-box h3 {
	color: #2E5785;
}
.page-template-beach #options-content img {
  max-width: 862px;
  top: -250px;
  right: -100px;
}
#where-we-play ul {
  list-style: none;
  padding: 0;
}
#where-we-play ul li {
  margin-bottom: 10px;
  line-height: 1.5;
}
#where-we-play {
    margin-top: 100px;
    margin-bottom: 100px;
}
#where-we-play h2 {
  font-size: 70px;
  line-height: 97.5%;
}


@media (max-width: 1700px) {
  .page-template-beach #options-content img {
      max-width: 752px;
      top: -240px;
      right: -210px;
  }
}

@media (max-width: 1500px) {
  .page-template-indoor #options-content img {
      max-width: 618px;
  }
}

@media (max-width: 1199px) {
  .page-template-beach #options-content img {
      max-width: 555px;
      top: -200px;
      right: -200px;
  }
  .page-template-indoor #options-content img {
      max-width: 565px;
      right: -180px;
  }
  .option-box-inner-top h3 {
      font-size: 36px;
      line-height: 40px;
  }
  .option-box-inner-top p {
      font-size: 16px;
  }
  #options-cols .col-lg-4:nth-child(2) .option-box-holder {
      width: calc(100% + 40px);
  }
  .option-box {
      padding: 60px 45px 50px;
  }
  #where-we-play h2 {
    font-size: 40px;
    line-height: 96.8%;
  }
  #where-we-play {
      margin: 30px 0;
  }
}

@media (max-width: 991px) {
  .page-template-beach #options-content img {
      max-width: 462px;
  }
  .page-template-indoor #options-content img {
      max-width: 480px;
  }
  #options-cols {
      padding-left: 15px;
      padding-right: 15px;
  }
  #options-cols .col-lg-4:nth-child(2) .option-box-holder {
      width: 100%;
      height: auto;
      left: auto;
      top: 0;
      margin: 30px 0;
  }
  .option-box {
      padding: 40px 35px;
  }
}

@media (max-width: 767px) {
  .page-template-beach #options-content img {
      max-width: 382px;
      top: -250px;
      right: -175px;
  }
  .page-template-indoor #options-content img {
      max-width: 390px;
      right: -190px;
      top: -270px;
  }
  #options-content h2 {
      max-width: 400px;
  }
  #options-content {
      padding-bottom: 30px;
  }
  #meet-coaches {
    padding-bottom: 15px;
  }
  #facility {
    padding-top: 15px;
  }
}

@media (max-width: 575px) {
  .page-template-beach #options-content img {
      max-width: 360px;
      right: -200px;
  }
  .page-template-indoor #options-content img {
      max-width: 350px;
      right: -195px;
      top: -275px;
  }
  #options-content h2 {
      max-width: 200px;
  }
}


#latest-grams {
    padding-top: 50px;
}