.info-row {
  margin-bottom: 120px;
}
.info-row:first-child {
  margin-top: 0;
}
.info-row:last-child {
  margin-bottom: 100px;
}
#fyre .info-row .btn {
  margin-top: 60px;
}
.info-row h2 {
  margin-bottom: 10px;
}
.info-row img {
    box-shadow: 0px 0px 21.2313px rgba(0, 0, 0, 0.15);
    border-radius: 21.2313px;
}
@media (min-width: 1200px) {
    .info-row .middle-content {
      padding: 0 30px;
    }
    .info-row .row {
      margin-left: -30px;
      margin-right: -30px;
    }
}
.founders-img {
    height: 400px;
    width: 100%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: -140px;
}
.founders-note {
    padding: 200px 230px 120px;
}
.founders-note p:last-child {
    margin-bottom: 0;
}

.partners-all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.single-partner {
    width: 25%;
    padding: 10px;
}

#testimonials {
    padding: 200px 0;
}
.testimonial-slider {
    max-width: 990px;
    margin: auto;
}
.testimonial-slider::before,
.testimonial-slider::after {
    content: '“';
    font-weight: 800;
    font-size: 201.026px;
    line-height: 1;
    text-align: center;
    color: #A61421;
    font-family: "proxima-nova";
    position: absolute;   
}
.testimonial-slider::before {
    right: 100%;
    top: -60px;
}
.testimonial-slider::after {
    transform: rotate(180deg);
    left: 100%;
    bottom: 0;
}


@media (max-width: 1199px) {
    .info-row .middle-content:nth-child(2) {
        padding: 50px 0 0 50px;
    }
    #fyre .info-row .btn {
        margin-top: 20px;
    }
    .founders-img {
        height: 330px;
    }
    .founders-note {
        padding: 200px 130px 120px;
    }
    .testimonial-slider {
        max-width: 690px;
    }
}
@media (max-width: 991px) {
    .founders-note {
        padding: 200px 90px 100px;
    }
    .info-row img {
        min-width: 100%;
    }
    .info-row .middle-content:nth-child(2) {
        padding: 36px 15px 0;
    }
    .info-row {
        margin-bottom: 80px;
    }
}
@media (max-width: 850px) {
    .testimonial-slider {
        max-width: 580px;
    }
}
@media (max-width: 767px) {
    .founders-note {
        padding: 200px 40px 80px;
    }
    .founders-img {
        height: 260px;
    }
    .single-partner {
        width: 33.333%;
    }
    .testimonial-slider::before {
        left: 50%;
        top: -240PX;
        transform: translateX(-50%);
        right: auto;
    }
    .testimonial-slider::after {
        left: 50%;
        bottom: -140PX;
        transform: rotate(180deg) translateX(50%);
    }
}

@media (max-width: 575px) {
    .single-partner {
        width: 50%;
    }
}




