/* teams */

.team-box {
  	overflow: hidden;
  	position: relative;
  	transition: all 0.3s ease;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
    margin-bottom: 40px;
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.team-box:hover {
	 transform: translateY(-3px);
}
.team-box a {
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	z-index: 1;
  	cursor: pointer;
}
.head-shot-small {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 10px;
}
.team-box-btm {
  	padding: 15px 30px 30px;
}
.team-practice {
  	padding: 20px 30px 0 20px;
}
#teams .team-name h3 {
  	margin-bottom: 0;
}
.teams-coach {
    margin-right: 45px;
}
.team-name {
  	border-radius: 0 0 20px 0;
  	padding: 15px 30px;
}
.age-group-header {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}
.age-group-header:after {
    content: '';
    height: 2px;
    background-color: #D1D4D4;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.age-group-header h4 {
    margin: 0;
    background-color: #fbfbfb;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
}
.age-group-row {
    margin-bottom: 20px;
}



/* single team */

#roster-info {
  overflow: scroll;
}
#roster-info table {
    min-width: 1300px;
}
#roster-info tbody td.gry-bg {
    text-align: left;
    min-width: 200px;
    padding-left: 60px;
}
#roster-info tbody tr:last-child td {
    padding-bottom: 40px;
}
#roster-info tr th:last-child, #roster-info tr td:last-child {
    padding-right: 40px;
}
#roster-info tr th:nth-child(2), #roster-info tr td:nth-child(2) {
    padding-left: 40px;
}
#roster-info th {
    padding: 40px 5px 25px 5px;
}
#roster-info th h4 {
  margin-bottom: 0 !important;
}
#roster-info td {
    padding: 25px 5px;
}
#roster-info thead th, #roster-info tbody td {
    text-align: center;
}
.team-details-box p:last-child {
    margin-bottom: 0;
}
.team-coaches-box {
    padding: 100px 0;
    display: block;
}
.team-details-box {
    padding: 50px;
}
.player-name-img {
    display: flex;
}
.player-name-img h5 {
    margin-bottom: 0;
    font-weight: 700;
}
.head-shot-medium {
  margin-right: 25px;
}
.team-coach h4 {
  margin-bottom: 0;
}
.team-coach:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .team-name {
      max-width: 55%;
  }
}

@media (max-width: 1440px) {
  .team-practice p {
      font-size: 16px;
  }
}

@media (max-width: 991px) {
  .team-coaches-box {
      padding: 80px 0;
  }
  .team-coach {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .teams-coach {
      flex-direction: column;
      text-align: center;
      flex: 1;
      margin-right: 45px;
  }
  .team-details-box {
      padding: 30px;
  }
  .team-coaches-box {
      padding: 60px 0;
  }
  #team-details {
      padding-top: 30px;
  }
  #coachin-staff {
      padding-bottom: 30px;
  }
  .team-coach {
    margin-bottom: 40px;
  }
  .head-shot-small {
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
  }
  .team-name {
      display: inline-table;
  }
  .team-practice {
      padding-left: 30px;
  }
  .team-box-btm {
      padding-top: 0;
  }
  .team-box-top {
      flex-direction: column;
  }
  .head-shot-medium {
      display: none;
  }
  #roster-info tbody td.gry-bg {
      text-align: left;
      min-width: 80px;
      padding-left: 40px;
  }
  #roster-info tr th:nth-child(2), #roster-info tr td:nth-child(2) {
      padding-left: 20px;
  }
  #roster-info table {
      min-width: 1250px;
  }
}


